<p id="notice"><%= notice %></p>

<h1>Genres</h1>
<% if Array(User.where(:id => session[:user_id])).first.id == 1 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>
        <tr>

          <td><%= genre.name %></td>
          <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
          <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Create sub_genres', {:controller => "subgenres", :action => "new", :genre => genre.id} %></td>
          <td><%= link_to 'list the sub_genres'  , {:controller => "subgenres", :action => "index", :genre => genre.id} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Genre', new_genre_path %>
<%= link_to 'Back', admin_url %>
<% end %>

  <% if Array(User.where(:id => session[:user_id])).first.id != 1 %>

      <table>
        <tbody>
          <% @genres.each do |genre| %>
              <%= link_to genre.name , {:controller => "subgenres", :action => "index", :genre => genre.id} %>
              </br>
          <% end %>

        </tbody>
      </table>
    </br>
    </br>
    <%= link_to 'Back', player_url %>
  <% end %>
